include AUTHORS.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include requirements.txt
include pyproject.toml
include pixi.toml

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat
recursive-include mpl_fastapi/static *
recursive-include mpl_fastapi/templates *
